body {
  background-color: #000000; /*#2b1400*/
}
p {
  color: #e1a201;
  font-family: Courier;
}
.centerizer { 
  height: 99%;
  position: relative;
  border: 0px solid green;
}
.feature {
  margin: 0;
  position: absolute;
  top: 46%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 0px solid blue;
}
.featurenotext {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 0px solid blue;
}
.art {
  border: 0px solid red;
}
.bottomtext {
  font-size: 1.0em;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 200px);
  border: 0px solid yellow;
}