body {
  background-color: #000000; /*#2b1400*/
}
h2 {
  color: #e1a201; /*#e1a201*/
  font-family: Courier;
}
p {
  color: #e1a201;
  font-family: Courier;
}
.extra {
  font-size: 1.0em;
}
.centerheader {
  text-align: center;
}
.centerart {
  margin: auto;
  width: 400px;
  /*border: 3px solid #2b1400;*/
  padding: 0px;
}
.centerartbird {
  margin: auto;
  width: 270px;
  /*border: 3px solid #2b1400;*/
  padding: 0px;
}
.padding {
  margin: auto;
  width: 4px;
  /*border: 3px solid #2b1400;*/
  padding: 6%;
}
